{% extends "base.html" %}

<!--Блок стилей-->
{% block style %}
.hero-section {
    padding: 100px 0;
    background-color: #f8f9fa; /* Светлый фон */
    text-align: center;
}
.features-section {
    padding: 60px 0;
}
.feature-card {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    margin-bottom: 20px;
    transition: box-shadow 0.2s ease-in-out;
}
{% endblock %}
<!--Основной Блок-->
{% block title %}Главная{% endblock %}
{% block content %}
<!--Заглушка -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
    </div>
  </div>
</div>
<!-- Основной контент -->
<main class="container-fluid">
    {% if current_user %}
        <!-- Подключаем подшаблон для авторизованного пользователя -->
        {% include 'index/user_dashboard.html' %}
    {% else %}
        <!-- Подключаем подшаблон для гостя -->
        {% include 'index/guest_content.html' %}
    {% endif %}
</main>
{% endblock %}