{% extends "base.html" %}

{% block title %}Профили пользователей{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table user-list">
                <thead>
                    <tr>
                        <th ><span>Пользователь</span></th>
                        <th ><span>Полное имя (при наличии)</span></th>
                        <th><span>Контакты</span></th>
                        <th><span>Действия</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in profiles %}
                    <tr>
                        <td>
                            <h4>{{ profile.display_name }}</h4>
                        </td>
                        <td>
                            {% if profile.last_name %}
                            {{ profile.last_name }}
                            {% endif %}
                            {% if profile.first_name %}
                            {{ profile.first_name }}
                            {% endif %}
                            {% if profile.middle_name %}
                            {{ profile.middle_name }}
                            {% endif %}
                        </td>
                        <td>
                            <i class="bi bi-telephone me-2"></i>
                            {% if profile.phone %}
                            {{ profile.phone }}
                            {% else %}
                            — Не указан —
                            {% endif %}
                        </td>
                        <td>
                            <a href="/profiles/{{profile.auth_user_id}}"
                               class="btn btn-sm btn-outline-secondary me-2"
                            >
                                Детали
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}